*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --address-color: rgba(255, 255, 255, 0.6);
    --additional-text-color: #000;
    --accent-color: #2196f3;
    --primary-background-color: #fff;
    --secondary-background-color: #2f303a;
    --additional-background-color: #f5f4fa;
    --button-background-color: #188ce8;
    --primary-sociallink-color: #AFB1B8;
    --primary-font-weight: 700;
    --secondary-font-weight: 500;
}

.reset {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    margin: 0;

    font-family: Roboto, sans-serif;
    letter-spacing: .03em;

    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

header {
    border-bottom: 1px solid #ECECEC;
}


.main-header {
    display: flex;
}

.page-header {
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}


.section-title.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Container */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.primary-button {
    display: inline-block;
    margin-top: 30px;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;

    text-align: center;
    font-family: inherit;
    font-weight: var(--primary-font-weight);
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: .06em;

    cursor: pointer;
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

.primary-button:hover,
.primary-button:focus {
    color: var(-primary-background-color);
    background-color: var(--button-background-color);
}

.secondary-button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0;

    text-align: center;
    font-family: inherit;
    font-weight: var(--secondary-font-weight);
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;

    color: var(--secondary-text-color);
    background-color: var(--additional-background-color);
}

.secondary-button:hover,
.secondary-button:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

/* Логотип сайту */

.logo-link {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo-web {
    font-family: Raleway, sans-serif;
    font-weight: var(--primary-font-weight);
    font-size: 26px;
    line-height: 1.2;

    color: var(--accent-color);
}

.logo-studio {
    font-family: Raleway, sans-serif;
    font-weight: var(--primary-font-weight);
    font-size: 26px;
    line-height: 1.2;

    color: var(--additional-text-color);
}

/* Навігація сайту */

.nav-header {
    display: flex;

}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
}

.site-nav .item+.item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: .02em;

    color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Контакти */

.contacts-div {
    display: flex;
}

.site-contacts {
    display: flex;
    margin-left: auto;
}

.site-contacts .item+.item {
    margin-left: 50px;
}

.site-contacts .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: .02em;

    color: var(--primary-text-color);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var(--accent-color);
}

/* .mail::before {
    display: inline-flex;
    content: " ";
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../images/envelope\ \(1\).svg);
    background-size: contain;

} */

.icon-envelope {
    margin-right: 10px;
}

.icon-envelope:hover {
    fill: var(--accent-color);
}

.icon-smartphone {
    margin-right: 10px;
}

.icon-smartphone:hover {
    fill: var(--accent-color);
}


/* Секції */

.section,
.section-team {

    padding-top: 94px;
    padding-bottom: 94px;
}

.section-team {
    margin-bottom: 94px;
}

.section-work {
    padding-top: 0;
}

.section-title {
    margin-bottom: 50px;

    font-weight: var(--primary-font-weight);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    color: var(--secondary-text-color);
}

/* Герой */

/* .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto; 
    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4)),
        url("../images/bgcimage.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

    text-align: center; 

    background-color: var(--secondary-background-color);
} */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;

    background-color: var(--secondary-background-color);
}


.hero-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: .06em;
    width: 696px;
    margin: 0 auto;
    text-transform: uppercase;

    color: var(--primary-background-color);
}


/* Фільтри */

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters-list .item+.item {
    margin-left: 8px;
}

/* Список робіт */

.works-examples {
    display: flex;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.works-list .item {
    width: 370px;
    flex-basis: calc((100% - 60px) / 3);

    background-color: var(--primary-background-color: #fff);

}

.works-list .item:nth-child(3n + 1) {
    margin-left: 0;
}

.works-list .item:nth-child(3n + 3) {
    margin-right: 0;
}

.works-list .item:nth-child(n + 7) {
    margin-bottom: 0;
}

.works-desc {
    padding: 20px 24px;

    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.works-desc .title {
    margin-bottom: 4px;
}

.works-desc .text {
    width: 322px;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: .03em;

    color: #757575;
}

/* Особливості */

.features-list {
    display: flex;
}

.features-list .item+.item {
    margin-left: 30px;
}

.features-list .title {
    margin-bottom: 10px;

    font-weight: var(--primary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}

.features-list .text {
    font-size: 14px;
    line-height: 1.7;
}

.features-container {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    
    /* background-color: var(--additional-background-color); */
}



/* Команда */

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--additional-background-color);
}

.team-list {
    display: flex;
}

.team-list .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-background-color);
}

.team-list .item+.item {
    margin-left: 30px;
}


.team-photo {
    margin-bottom: 30px;
}

.team-list .title {
    margin-bottom: 10px;

    font-weight: var(--secondary-font-weight);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: var(--secondary-text-color);
}

/* .team-list .text {
    margin-bottom: 16px;
} */

.team-list .text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-socials {
    display: flex;
    width: 206px;
    height: 44px;
    margin-left: 32px;
    margin-top: 16px;
    margin-right: 32px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

}

.team-socials .socialitem+.socialitem {
    margin-left: 10px;
}

.socialitem {
    display: block;
}


.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
}

.social-link:hover {
    background-color: var(--accent-color);
} 

.social-svg {
    fill: var(--primary-sociallink-color);
}

.social-svg:hover,
.social-svg:focus {
    fill: var(--primary-background-color);
}

/* Постоянные клиенты */

.clients-list {
    display: flex;
    margin-bottom: 94px;
}

.clients-list .item+.item {
    margin-left: 30px;
} 

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 32px 16px;
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}

.clients-svg {
    fill: var(--primary-sociallink-color);
}

.clients-svg:hover {
    fill: var(--accent-color);
}




/* Роботи */

.works-list .title {
    font-weight: var(--primary-font-weight);
    font-size: 18px;
    line-height: 2;
    letter-spacing: .06em;

    color: var(--secondary-text-color);
}

.work-list {
    display: flex;
}

.work-list .item+.item {
    margin-left: 30px;
}

.work-list .text {
    font-size: 16px;
    line-height: 31.8;
}

/* Футер */

.main-footer {
    padding: 60px 0;
    background-color: var(--secondary-background-color);
}

.footer {
    font-style: normal;

}

/* Логотип футеру */

.footer-studio {
    font-family: Raleway, sans-serif;
    font-weight: var(--primary-font-weight);
    font-size: 26px;
    line-height: 1.2;

    color: var(--primary-background-color);
}

/* Адреси */

.address {
    padding-left: 0;
    margin-top: 20px;
}

.address .item+.item {
    margin-top: 9px;
}

.physical-address {
    font-size: 14px;
    line-height: 1.71;

    color: var(--primary-background-color);
}

.address .link {
    font-size: 14px;
    line-height: 1.71;

    color: var(--address-color);
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}
